<form class="component" #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
  Sine: <input type="text" 
    (ngModel)="sine" name="sine" 
    [ngClass]="{'error': loginForm.controls.sine?.invalid && loginForm.controls.sine.touched}" 
    required>
  Agent: <input type="text" (ngModel)="agent" name="agent">
  Password: <input type="text" 
  (ngModel)="password" name="password"
  [ngClass]="{'error': loginForm.controls.password?.invalid && loginForm.controls.password.touched}" 
  required
  >

  <input type="submit">

</form>