.component{
    border: solid 1px lightblue;
    padding: 15px;
}
.error{
    background-color: lightcoral;
}
.component input{
    padding: 5px;
}
.component input:focus{
    outline: none;
}
img {
    max-width: 50px;
    max-height: 50px;
}